<!-- map to store buttonType and divColor of for styling various task states -->
<%let mp=new Map();%>
<%mp.set('scheduled',{buttonType:'primary',divColor:'#e4fbff'});%>
<%mp.set('completed',{buttonType:'success',divColor:'#9ecca4'});%>
<%mp.set('running',{buttonType:'warning',divColor:'#fff9b0'});%>
<%mp.set('failed',{buttonType:'danger',divColor:'#ff7171'});%>
<%mp.set('cancelled',{buttonType:'dark',divColor:'#c8c6a7'});%>

<!-- Task Details -->
<%for(var i=results.length-1;i>=0;i--){%>
    <%let buttonType=mp.get(results[i].taskState).buttonType;%>
    <%let divColor=mp.get(results[i].taskState).divColor;%>
    <div  class="taskDetailsWrapper" style="background-color: <%=divColor%>;">
      <!-- scheduling time and task-state -->
        <div class="d-flex">
            <div class="pb-2 flex-fill"><h3 style="color: #930077"><%=results[i].taskName%></h3></div>
            <div class=" pb-2 flex-fill" style="text-align: end;" ><button class="btn btn-<%=buttonType%> "><%=results[i].taskState%></button></div>
        </div>
        <!-- <div style="width: 100px;"> -->
        <!-- Task Details Drop down -->
        <div class="dropdown parametersMenuAlign">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-tasks" aria-hidden="true"></i> Task Details
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    
                <li class="dropdown-submenu" >
                    <a  class="dropdown-item" tabindex="-1"><i class="fab fa-tumblr-square"></i> Task Name </a>
                    <ul class="dropdown-menu taskDetail">
                        <span id="taskNameSpan<%=i%>" class="dropdown-item"><a href="#" onclick="copy_to_clipboard('taskNameSpan<%=i%>');"><i class="fas fa-copy"></i></a> <%=results[i].taskName%> </span>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" ><i class="fa fa-fingerprint" aria-hidden="true"></i> Task Id</a>
                    <ul class="dropdown-menu taskDetail">
                        <span  id="taskIdSpan<%=i%> " class="dropdown-item"><a href="#" onclick="copy_to_clipboard('taskIdSpan<%=i%>');"><i class="fas fa-copy"></i></a> <%=results[i]._id%> </span>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1"><i class="fas fa-globe" aria-hidden="true"></i> Lambda URL</a>
                    <ul class="dropdown-menu taskDetail" >
                        <span  id="taskURLSpan<%=i%>" class="dropdown-item" ><a href="#" onclick="copy_to_clipboard('taskURLSpan<%=i%>');"><i class="fas fa-copy"></i></a> <%=results[i].lambdaURL%> </span>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" ><i class="fa fa-calendar-alt" aria-hidden="true"></i>
                    Scheduled Time</a>
                    <ul class="dropdown-menu taskDetail">
                        <span class="dropdown-item"><%=results[i].scheduledTime%> </span>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" ><i class="fab fa-cuttlefish" aria-hidden="true"></i>
                    Retries Count</a>
                    <ul class="dropdown-menu taskDetail">
                        <span class="dropdown-item"><%=results[i].retriesCount%> </span>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" ><i class="fas fa-stopwatch" aria-hidden="true"></i>
                    Retry Delay</a>
                    <ul class="dropdown-menu taskDetail">
                        <span class="dropdown-item"><%=results[i].timeDelayBetweenRetries%> ms</span>
                    </ul>
                </li>
                <%var params=results[i].parameters;%>
                <!-- parameters menu item -->
                <%if(params.length>2){%>
                    <%params=params.substring(1,params.length-1);%>
                    <%params=params.split(",");%>
                    <li class="dropdown-submenu">
                        <a  class="dropdown-item" tabindex="-1"><i class="fab fa-product-hunt" aria-hidden="true"></i>
                            Parameters</a>

                            <ul class="dropdown-menu parameters">
                                <!-- <div style="overflow: auto;"> -->
                                <%for(var j=0;j<params.length;j++){%>
                                    <a class="dropdown-item"><%=params[j]%></a>
                                <%}%>
                                <!-- </div> -->
                            </ul>
                        
                        
                    </li>
                <%}%>
                <!-- end of parameters menu item -->  
            </ul>
      <!-- </div> -->
    </div>    
    </div> 
<%}%>
<!-- end of task details -->

<script>
    // Prevent closing from click inside dropdown
    $(document).on('click', '.dropdown-menu', function (e) {
      e.stopPropagation();
    });
    //function to copy text from span
    function copy_to_clipboard(text_spn) {
      var copyText = document.getElementById(text_spn);
      var textArea = document.createElement("textarea");
      textArea.value = copyText.textContent;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand("Copy");
      textArea.remove();
    }
  </script>