<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />

    <!-- include libraries.ejs -->
    <%- include('../partials/libraries.ejs') %>

        <!-- custom css -->
        <link rel="stylesheet" href="/css/styles.css" />

        <title>Retrieve All Tasks</title>
</head>

<body>
    <%- include('../partials/navbar.ejs'); %>
    <h1 style="text-align: center; color:brown;padding-top:30px;">Task Details</h1>

    <!-- map to store buttonType and divColor of for styling various task states -->
    <%let mp = new Map();%>
    <%mp.set('scheduled',{buttonType:'primary',divColor:'#e4fbff'});%>
    <%mp.set('completed',{buttonType:'success',divColor:'#9ecca4'});%>
    <%mp.set('running',{buttonType:'warning',divColor:'#fff9b0'});%>
    <%mp.set('failed',{buttonType:'danger',divColor:'#f5c0c0'});%>
    <%mp.set('cancelled',{buttonType:'dark',divColor:'#c8c6a7'});%>
    
    <%if(results.length==0){%>
        <h1 style="text-align: center; margin: 40px;">You have not scheduled any task.</h1>
    <%}%>
    <div>
    <%for(var i=0;i<results.length;i++){%>
        <%let buttonType=mp.get(results[i].taskState).buttonType;%>
        <%let divColor=mp.get(results[i].taskState).divColor;%>
        <div class="container taskDetailsWrapper" style="background-color: <%=divColor%>;">
            <div style="color: blue;text-align: right;"> 
                <strong ><%=results[i].scheduledTime%></strong>
            </div>
            <div style="border: 2px solid black;" id="taskDetails">

                <!-- start of task details -->
                <strong>TaskName:</strong> <span style="padding-left: 20px;"><%=results[i].taskName%></span><br>
                <strong>TaskId:</strong> <span style="padding-left: 48px;"><%=results[i]._id%></span><br>
                <strong>LambdaURL:</strong> <span style="padding-left: 6px;"><%=results[i].lambdaURL%></span><br>
                <!-- end of task details -->

                <%var params = results[i].parameters;%>

                <!-- parameters drop down  -->
                <%if(params.length>2){%>
                <%params = params.substring(1,params.length-1);%>
                <%params = params.split(",");%>
                
                <div class="dropdown show">
                    <a class="btn btn-outline-primary btn-sm  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Parameters
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        
                        <%for(var j=0;j<params.length;j++){%>
                            <a class="dropdown-item" href="#"><%=params[j]%></a>
                        <%}%>
                    </div>
                </div>
                <%}%>
                <!-- end of paramters drop down -->
            </div>
            <div style="text-align: center;">
                <button class="btn btn-<%=buttonType%>"><%=results[i].taskState%></button>
            </div>
        </div>
    <%}%>
</div>
</body>

</html>