<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />

    <!-- include libraries.ejs -->
    <%- include('../partials/libraries.ejs') %>

        <!-- custom css -->
        <link rel="stylesheet" href="/css/styles.css" />

        <title>Retrieve All Tasks</title>
</head>

<body>
    <%- include('../partials/navbar.ejs'); %>
    
    <!-- <h2 style="text-align: center; padding-top: 30px; color:brown;">All the Tasks Scheduled by you</h2> -->
    <div class="tableContainer" style="height: fit-content; margin-top:40px; margin-bottom: 30px;">
        <table class="table table-bordered  styled-table">
            <thead >
                <tr >
                    <th>Task Id</th>
                    <th>Task Name</th>
                    <th>URL</th>
                    <th>Scheduling Time</th>
                    <th>Task State</th>
                    <th>Query String Paramters</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i=0;i<results.length;i++){%>
                    <tr>
                        <td>
                            <strong><%=results[i]._id%></strong>
                            
                        </td>
                        <td>
                            <%=results[i].taskName%>
                        </td>
                        <td>
                            <%=results[i].lambdaURL%>
                        </td>
                        <td>
                            <%=results[i].schedulingTime%>
                        </td>
                        <td>
                            <%=results[i].taskState%>
                        </td>
                        <td>
                            <%=results[i].parameters%>
                        </td>
                    </tr>
                    <%}%>
                        
            </tbody>
        </table>
    </div>
</body>

</html>