<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />

    <!-- include libraries.ejs -->
    <%- include('../partials/libraries.ejs') %>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Schedule Task</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs'); %>
    <% if(message){ %>
      <div style="text-align: center" class="alert alert-<%=message.type%>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%=message.intro%></strong> <%=message.message%>
      </div>
    <% } %>
    <div class="wrapper">
      <h1 class="display-3 heading">Task Scheduler</h1>
      <form action="" method="POST" id="scheduleTaskForm">
        <div class="form-group">
          <label for="taskName">Task Name</label>
          <input
            type="text"
            class="form-control"
            name="taskName"
            placeholder="Enter your task name"
            required
          />
        </div>
        <!-- URL -->
        <div class="form-group">
          <label for="lambdaURL">URL</label>
          <input
            type="url"
            class="form-control"
            name="URL"
            placeholder="Enter AWS Lambda URL"
            required
          />
          <div class="invalid-feedback">
            Invalid URL
          </div>
        </div>
        <!-- end URL -->

        <!-- query parameter -->
        <div class="form-group">
          <label for="params">QueryString Parameters</label>
          <a href="#" id="addParams"><i class="fas fa-plus-circle"></i></a>
          <ul id="paramsList" style="list-style-type: none">
            <li id="params0">
              <div class="form-row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="key0"
                    placeholder="key"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="value0"
                    placeholder="value"
                  />
                </div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="checkbox0"
                  checked
                />
              </div>
            </li>
          </ul>
        </div>
        <!-- end of query parameter -->

        <!-- Time Delay -->
        <div class="form-group">
          <label for="delayTime">Scheduling Time</label>
          <div >
            <input id="datefield" name='datefield' type='date' min='2021-01-01' max='2030-12-13' required></input>
            <input type="time" id="timefield" name="timefield"  required>
          </div>
          <small id="timeHelp" class="form-text text-muted">Task can be scheduled to atmost 24 days later starting from present</small>
        </div>
        <!-- end of time delay -->

        <!-- submit button -->
        <button type="submit" class="btn btn-success button">Schedule</button>
        <!-- end submit button -->
      </form>
    </div>
    <script src="js/schedule.js"></script>
    <script src="js/timeUtils.js"></script>
  </body>
</html>
